<div class="container mt-4">

    <h2 class="text-center">Panel Cocina</h2>

    <div class="card p-3 mb-3">
        <h4>Pendientes por preparar: 
            <span id="contadorPendientes">0</span>
        </h4>
    </div>

    <div class="card p-3 mb-3">
        <h4>Acumulado por Producto</h4>
        <table class="table table-bordered text-center">
            <thead class="table-secondary">
                <tr>
                    <th>Producto</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="bodyAcumulado"></tbody>
        </table>
    </div>

    <div class="card p-3">
        <h4>Órdenes en Cocina</h4>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Mesa</th>
                    <th>Mesero</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="bodyCocina"></tbody>
        </table>
    </div>

</div>
